<!-- From Clinic Landing Template-->
<!-- Clinic info view-->
<h5 class="teal-text text-lighten-2 weight-7">{{currentClinic.name}}</h5>
    <p class="teal-text text-lighten-2">
        {{currentClinic.location}}<br>
        {{currentClinic.phone}}
    </p>
    <hr class="divider">
<a class="btn teal white-text waves-effect left" ng-click="clinicList()"><i class="material-icons left">keyboard_arrow_left</i>Retour</a>
<a class="btn red lighten-2 white-text waves-effect right"><i class="material-icons left">phone</i>Contacter</a>
