<!-- Dashboard Home-->

<div class="container">
    <div class="row quick">
        <div class="col s12 m6 l3 quickItem teal lighten-3">
            <h3>Item</h3>
            <i class="material-icon">done</i>
            <p><span class="badgen teal lighten-1">badge</span></p>
        </div>
        <div class="col s12 m6 l3 quickItem teal lighten-3">
            <h3>Item</h3>
            <i class="material-icon">done</i>
            <p><span class="badgen teal lighten-1">badge</span></p>
        </div>
        <div class="col s12 m6 l3 quickItem teal lighten-3">
            <h3>Item</h3>
            <i class="material-icon">done</i>
            <p><span class="badgen teal lighten-1">badge</span></p>
        </div>
        <div class="col s12 m6 l3 quickItem teal lighten-3">
            <h3>Item</h3>
            <i class="material-icon">done</i>
            <p><span class="badgen teal lighten-1">badge</span></p>
        </div>
    </div>
    <div class="row review">
    </div>
</div>
