<!-- Dashboard Calendar View -->

<div class="container">
    <div class="row">
        <h3 class="teal-text text-lighten-3 weight-7"><i class="material-icons medium left">date</i>Calendar</h3>
        <hr class="divider">
    </div>

    <div class="row">
        <p></p>
    </div>

    <div class="row">
        <div class="col s10 offset-s1 teal lighten-3 white-text">
            <i class="material-icons clickable medium">arrow-left</i>
            <h5 class="center">{{currentDate.month}} {{currentDate.year}}</h5>
        </div>
        <div class="row">
            <ul class="collection col s10 offset-s1">
                <li class="collection-item avatar">
                    <div class="col s2 teal lighten-2 white-text border-radius-5">
                        <h5>21</h5>Thursday
                    </div>
                    <div class="col s8 teal-text text-lighten-3">
                        <span class="title">Interview</span>
                        <p>11.30 am<br>Clinique Beauregard, Paris</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
