<!-- Dashboard Home-->

<div class="container">
    <div class="row quick">
        <div class="col s12 m6 l3 quickItem teal white-text lighten-3 waves-effect">
            <h3><i class="material-icons left">done</i>Item</h3>
            <p><span class="badgen teal lighten-1">badge</span></p>
        </div>
        <div class="col s12 m6 l3  offset-l1 quickItem teal white-text lighten-3 waves-effect">
            <h3><i class="material-icons left">done</i>Item</h3>
            <p><span class="badgen teal lighten-1">badge</span></p>
        </div>
        <div class="col s12 m6 l3  offset-l1 quickItem teal white-text lighten-3 waves-effect">
            <h3><i class="material-icons left">done</i>Item</h3>
            <p><span class="badgen teal lighten-1">badge</span></p>
        </div>
    </div>
    <div class="row review">
    </div>
</div>
