<!-- Dashboard Search View-->
<div class="container">

    <div class="row">
        <h3 class="teal-text text-lighten-3 weight-7"><i class="material-icons left medium">search</i>Search</h3>
        <hr class="divider">
    </div>

    <div class="row">
        <form class="col s10 offset-s1">
            <div class="input-field col s12">
                <input type="text" ng-model="search" id="search" name="search">
                <label for="search">Search for anything here</label>
            </div>
        </form>
    </div>

    <div class="row">
        <p class="flow-text"></p>
    </div>

    <div class="row">
        <ul class="collection col s10 offset-s1">
            <li class="collection-item teal lighten-3 white-text">Results</li>
            <li class="collection-item avatar white teal-text text-lighten-3">
                <i class="material-icons circle teal">account_circle</i>
                <span class="title">First result</span>
                <p>Result quick description<br>Here it is</p>
            </li>
        </ul>
    </div>
</div>
