<!--Footer-->
<div class="row teal footer height-4">
	<div class="col s8">
		<div class="row">
			<div class="nav-wrapper" style="text-align:center;">
				<ul class="white-text">
					<li><a ng-click="goTo('landing.main')">HOME</a></li>
					<li><a ng-click="goTo('landing.about')">ABOUT US</a></li>
					<li><a href="#/landing/">WHAT WE DO</a></li>
					<li><a href="#/landing/">CLINICS</a></li>
					<li><a href="#/landing/">CONTACT US</a></li>
					<li><a href="#/landing/">FORUM</a></li>
					<li><a href="#/landing/">LOGIN</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<p class="white-text">By using our site, you agree to the WITHWE CARE Terms and
Conditions.<br>
WITHWE CARE does not provide medical advice, diagnosis or treatment.<br>
The information provided on this site is designed to support, not replace, the relationship that exists between a patient/site visitor and his/her existing physician.</p>
		</div>
	</div>
	<div class="col s4">
	</div>
</div>
