<!--Footer-->
<div class="row teal lighten-3 footer height-4">

		<div class="col s12 m8">
			<div class="row">
				<ul class="white-text footerMenu">
					<li class="clickable"><a ng-click="goTo('landing.about')" class="clickable">ABOUT US</a></li>
					<li class="clickable"><a ng-click="goTo('landing.whatwedo')">WHAT WE DO</a></li>
					<li class="clickable"><a ng-click="goTo('landing.clinics')">CLINICS</a></li>
					<li class="clickable"><a ng-click="goTo('landing.contact')">CONTACT US</a></li>
					<li class="clickable hide-on-med-and-up"><a ng-click="goTo('landing.contact')">FOLLOW US</a></li>
				</ul>
			</div>
			<div class="row footerText">
				<p class="white-text">By using our site, you agree to the WITHWE CARE Terms and
	Conditions.<br>
	WITHWE CARE does not provide medical advice, diagnosis or treatment.<br>
	The information provided on this site is designed to support, not replace, the relationship that exists between a patient/site visitor and his/her existing physician.
				</p>
				<p class="white-text weight-7">Copyright 2016 © WithWeCare</p>
			</div>
		</div>
		<div class="col m4 hide-on-small-only">
			<div class="social left-bordered">
				<h4 class="weight-7 white-text">Follow us</h4>
			</div>
		</div>
</div>
