<!--About Landing Template-->
<div class="row parallax-container height-4 teal-screen valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l6">
                <h3 class="white-text weight-7 valign">"Nice to meet you, <br>our name is With We Care!"</h3>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="img/team.jpg" alt="Nice to meet you, our name is With We care">
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1 l8 offset-l2 teal-text text-lighten-2 center textual">
                <p>
                    We’re a company aimed at making <strong>medical help</strong> more easily accessible.
                </p>
                <p>
                    We plan to bring the <strong>providers</strong> of medical help closer to those in need.
                </p>
                <p>
                    We’re a <strong>multilingual team</strong>, which gives us the ability to better communicate with patients and medical experts all over the world.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row parallax-container height-7 valign-wrapper">
    <div class="col s12 l7 teal-screen">
        <div class="container height-7">
            <div class="row" style="margin-top:60%">
                <h2 class="white-text weight-7 valign">"Collaboration & communication are two important keywords"</h2>
            </div>
        </div>
    </div>
    <div class="col l5 hide-on-med-and-down"></div>
    <div class="parallax">
        <img src="img/hearth.jpg" alt="Welcome to With We Care" style="margin-top:25%">
    </div>
</div>

<div class="row commercial">
    <div class="container">
        <div class="row hide-on-med-and-down">
            <div class="col s3">
                <div class="red lighten-3 rounded center valign-wrapper">
                    <i class="large material-icons white-text valign" style="width:100%">grade</i>
                </div>
            </div>
            <div class="col s3">
                <div class="red lighten-3 rounded center valign-wrapper">
                    <i class="large material-icons white-text valign" style="width:100%">pin_drop</i>
                </div>
            </div>
            <div class="col s3">
                <div class="red lighten-3 rounded center valign-wrapper">
                    <i class="large material-icons white-text valign" style="width:100%">supervisor_account</i>
                </div>
            </div>
            <div class="col s3">
                <div class="red lighten-3 rounded center valign-wrapper">
                    <i class="large material-icons white-text valign" style="width:100%">supervisor_account</i>
                </div>
            </div>
        </div>
        <div class="row description red-text text-lighten-3 hide-on-med-and-down">
            <div class="col s3">
                <h5>ACCOMPAGNIMENT</h5>
                <p>Our aim is to stay with patients during all the process.</p>
            </div>
            <div class="col s3">
                <h5>ADAPTABILITY</h5>
                <p>Avaiable services can suit all different needs</p>
            </div>
            <div class="col s3">
                <h5>QUALITY</h5>
                <p>WithWe Care does a strict selection of doctors and clinics to provide you the best</p>
            </p>
            </div>
            <div class="col s3">
                <h5>TRANSPARENCY</h5>
                <p>We give you feedbacks and information for each place</p>
            </div>
        </div>
        <div class="row  description red-text text-lighten-3 hide-on-large-only">
            <div class="col s4">
                <div class="red-text text-lighten-3 center valign-wrapper">
                    <i class="large material-icons valign" style="width:100%">grade</i>
                </div>
            </div>
            <div class="col s8">
                <h5>ACCOMPAGNIMENT</h5>
                <p>Our aim is to stay with patients during all the process.</p>
            </div>
        </div>
        <div class="row description red-text text-lighten-3 hide-on-large-only">
            <div class="col s8">
                <h5>ADAPTABILITY</h5>
                <p>Avaiable services can suit all different needs</p>
            </div>
            <div class="col s4">
                <div class="red-text text-lighten-3 rounded center valign-wrapper">
                    <i class="large material-icons valign" style="width:100%">pin_drop</i>
                </div>
            </div>
        </div>
        <div class="row description red-text text-lighten-3 hide-on-large-only">
            <div class="col s4">
                <div class="red-text text-lighten-3 center valign-wrapper">
                    <i class="large material-icons valign" style="width:100%">supervisor_account</i>
                </div>
            </div>
            <div class="col s8">
                <h5>QUALITY</h5>
                <p>WithWe Care does a strict selection of doctors and clinics to provide you the best</p>
            </p>
        </div>
        <div class="row description red-text text-lighten-3 hide-on-large-only">
            <div class="col s8">
                <h5>TRANSPARENCY</h5>
                <p>We give you feedbacks and information for each place</p>
            </div>
            <div class="col s4">
                <div class="red-text text-lighten-3 center valign-wrapper">
                    <i class="large material-icons valign" style="width:100%">supervisor_account</i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row parallax-container height-7 valign-wrapper">
    <div class="col s12 l7 teal-screen">
        <div class="container height-7">
            <div class="row" style="margin-top:40%">
                <h2 class="white-text weight-7 valign">"We are based out of Paris but we strive to serve patients from all over the globe"</h2>
            </div>
        </div>
    </div>
    <div class="col l5 hide-on-med-and-down"></div>
    <div class="parallax">
        <img src="img/globe.jpg" alt="Welcome to With We Care" style="margin-top:25%">
    </div>
</div>

<div class="row commercial">
    <div class="container">
        <hr class="divider">
        <div class="col s12 l4 offset-l4 red-text text-lighten-3 center">
            <h3 class="weight-7">Contact us!</h3>
            <h5>Hamid Benmouffok, CEO <br>withwecare@gmail.com <br>N° +33-634605136</h5>
        </div>
    </div>
</div>

<ng-include src="'templates/snippets/footer.html'"></ng-include>
<script type="text/javascript" src="js/init.js"></script>
