<!--Landing Template-->

<!--Navbar-->
<div class="row">
	<nav class="landingnav white hide-on-med-and-down">
		<div class="row">
			<a class="brand-logo teal-text text-lighten-3 center"><img class="logo" src="img/logo.png" alt="WithWeCare"/></a>
		</div>
		<div class="nav-wrapper">
			<ul class="menu hide-on-med-and-down">
				<li><a ng-click="goTo('landing.main')">HOME</a></li>
				<li><a ng-click="goTo('landing.about')">ABOUT US</a></li>
				<li><a ng-click="goTo('landing.whatwedo')">WHAT WE DO</a></li>
				<li><a ng-click="goTo('landing.clinics')">CLINICS</a></li>
				<li><a ng-click="goTo('landing.contact')">CONTACT US</a></li>
				<li><a ng-click="goTo('landing.forum')">FORUM</a></li>
				<li><a ng-click="goTo('admin')" ng-if="currentUser.admin && logged">ADMIN</a></li>
				<li><a ng-show="!logged" class="modal-trigger" data-target="loginModal">LOGIN</a>
				<li ng-controller="AuthCtrl"><a ng-show="logged" ng-click="logout()">LOGOUT</a></li>
				<!-- <a ng-click="goTo('dashboard')"  ng-show="logged">DASHBOARD<a><li> -->
			</ul>
		</div>
	</nav>
	<nav class="landingnav-fixed fixed white hide-on-med-and-down">
		<div class="nav-wrapper">
			<a class="brand-logo teal-text text-lighten-3 center hide-on-large-only">WithWeCare</a>
			<a data-activates="mobile-menu-fixed" class="button-collapse hide-on-large-only left teal-text text-lighten-2"><i class="material-icons">menu</i></a>
			<ul class="menu hide-on-med-and-down">
				<li><a ng-click="goTo('landing.main')">HOME</a></li>
				<li><a ng-click="goTo('landing.about')">ABOUT US</a></li>
				<li><a ng-click="goTo('landing.whatwedo')">WHAT WE DO</a></li>
				<li><a ng-click="goTo('landing.clinics')">CLINICS</a></li>
				<li><a ng-click="goTo('landing.contact')">CONTACT US</a></li>
				<li><a ng-click="goTo('landing.forum')">FORUM</a></li>
				<li><a ng-click="goTo('admin')" ng-if="currentUser.admin && logged">ADMIN</a></li>
				<li><a ng-show="!logged" class="modal-trigger" data-target="loginModal">LOGIN</a>
				<li ng-controller="AuthCtrl"><a ng-show="logged" ng-click="logout()">LOGOUT</a></li>
				<!-- <a ng-click="goTo('dashboard')"  ng-show="logged">DASHBOARD<a><li> -->
			</ul>
		</div>
	</nav>
</div>
<ul id="account_dropdown" class="dropdown-content white" style="z-index:100;">
	  <li><a href="#/management" class="teal-text">Profile</a></li>
	  <li><a href="#/dashboard" class="teal-text">Dashboard</a></li>
	  <li class="divider"></li>
	  <li><a class="teal-text" ng-click="logout()">Logout</a></li>
 </ul>
 <ul id="account_dropdown2" class="dropdown-content white" style="z-index:100;">
 	  <li><a href="#/dashboard" class="teal-text">Dashboard</a></li>
 	  <li class="divider"></li>
 	  <li><a class="teal-text" ng-click="logout()">Logout</a></li>
  </ul>

  <!-- Fixed action button-->
<div class="fixed-action-btn hide-on-large-only click-to-toggle tooltipped" style="bottom: 5px; right: 5px;" data-tooltip="Menu" data-position="left">
	<a class="btn btn-large teal">
		<i class="material-icons">menu</i>
	</a>
  <ul>
	<li class="tooltipped" data-tooltip="Home" data-position="left"><a class="btn btn-large teal lighten-1" style="width:100%" ng-click="goTo('landing.main')" ><i class="material-icons left">home</i></a></li>
    <li class="tooltipped" data-tooltip="About us" data-position="left"><a class="btn btn-large teal lighten-1" style="width:100%" ng-click="goTo('landing.about')" ><i class="material-icons left">info</i></a></li>
    <li class="tooltipped" data-tooltip="What we do" data-position="left"><a class="btn btn-large teal lighten-1" style="width:100%" ng-click="goTo('landing.whatwedo')"><i class="material-icons left">assignment_turned_in</i></a></li>
    <li class="tooltipped" data-tooltip="Clinics" data-position="left"><a class="btn btn-large teal lighten-1" style="width:100%" ng-click="goTo('landing.clinics')"><i class="material-icons left">local_hospital</i></a></li>
    <li class="tooltipped" data-tooltip="Contact us" data-position="left"><a class="btn btn-large teal lighten-1" style="width:100%" ng-click="goTo('landing.contact')"><i class="material-icons left">phone</i></a></li>
	<li class="tooltipped" data-tooltip="Forum" data-position="left"><a class="btn btn-large teal lighten-1" style="width:100%" ng-click="goTo('landing.forum')"><i class="material-icons left">announcement</i></a></li>
	<li class="tooltipped" data-tooltip="Administration" data-position="left"><a class="btn btn-large red darken-2 lighten-1" style="width:100%" ng-click="goTo('admin')" ng-if="logged && currentUser.admin"><i class="material-icons left">settings</i></a></li>
	<li class="tooltipped" data-tooltip="Login" data-position="left"><a class="btn btn-large teal darken-2" style="width:100%"  data-target="loginModal" ng-show="!logged"><i class="material-icons left">account_circle</i></a></li>
	<li class="tooltipped" data-tooltip="Logout" data-position="left" ng-controller="AuthCtrl"><a class="btn btn-large red lighten-2" style="width:100%" ng-click="logout();" ng-show="logged"><i class="material-icons left">account_circle</i></a></li>
  </ul>
</div>


<!--Views-->
<div class="row">
	<div class="ui-view-container">
		<ui-view></ui-view>
	</div>
</div>

<!--Modals-->
<div class="modal modal-fixed-footer seamlessModal" id="loginModal" style="width: 100vw;" ng-controller="AuthCtrl">
	<div class="modal-content valign-wrapper">

			<div class="container">
				<div class="row">
					<div class="col s12 m6 l4">
						<span class="minor valign">
							<i class="material-icons medium left">account_circle</i>
							Login
						</span>
						<hr class="divider hide-on-med-and-up">
					</div>
					<div class="col s12 m6 l8 white-text">
						<form class="valign">
							<div class="input-field">
								<i class="material-icons prefix grey-text">mail</i>
								<input class="validate" id="email" type="email" ng-model="user.email">
								<label>Email</label>
							</div>
							<div class="input-field">
								<i class="material-icons prefix grey-text">lock</i>
								<input class="validate" id="password" type="password" ng-model="user.password" >
								<label>Password</label>
							</div>
						</form>
						<button class="btn-flat waves-effect waves-light teal-text modal-trigger modal-action modal-close" data-target="signinModal">Don't have an account?</button>
					</div>
				</div>
			</div>

	</div>
	<div class="modal-footer">
		<button class="btn teal-lighten-2 white-text waves-effect waves-light right modal-action modal-close" ng-click="login()">Login</button>
	</div>
</div>

<div class="modal modal-fixed-footer seamlessModal" id="speechModal" style="width: 100vw;" ng-controler="LandingCtrl">
	<div class="modal-content valign-wrapper">
		<div class="container">
			<div class="row valign">
				<div class="col s12 m6 l4">
					<span class="minor">
						<i class="material-icons large center">local_pharmacy</i><br>
						Create your account!
					</span>
					<p class="teal-text text-lighten-2">
						It's entirely free of charge.
					</p>
					<hr class="divider hide-on-med-and-up">
				</div>
				<div class="col s12 m6 l8">
					<p class="flow-text white-text">
						Access all accurate informations and data about our partners by creating a free account on WithWeCare.<br>
						WithWeCare accompanies you during the entire process and helps you find the best medical service.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn teal waves-effect white-text modal-action modal-close" data-target="signinModal">Signin</button>
	</div>
</div>

<div class="modal modal-fixed-footer seamlessModal" id="signinModal" style="height:100vh !important; width: 100vw;" ng-controller="AuthCtrl">
	<div class="modal-content valign-wrapper">
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l4 valign">
					<span class="minor">
						<i class="material-icons medium left">assignment_turned_in</i>
						Sign In
					</span>
					<p class="teal-text text-lighten-2">
						Quickly signin to our services. It won't take you more than a minute.
					</p>
					<div class="input-field col s12">
						<div class="switch">
							<label>
							 Patient
							  <input type="checkbox" ng-model="newUser.user_type">
							  <span class="lever"></span>
							  Doctor
							</label>
						</div>
					</div>
					<br><br><br>
					<hr class="divider hide-on-med-and-up">
				</div>
				<div class="col s12 m6 l8 white-text">
					<form class="valign">
						<div class="input-field col s12">
							<i class="material-icons prefix grey-text">account_circle</i>
							<input class="validate" type="text" id="name" ng-model="newUser.name" required>
							<label>Name</label>
						</div>
						<div class="input-field col s12">
							<i class="material-icons prefix grey-text">account_circle</i>
							<input class="validate" type="text" id="surname" ng-model="newUser.surname" required>
							<label>Surname</label>
						</div>
						<div class="input-field col s12">
							<i class="material-icons prefix grey-text">mail</i>
							<input class="validate" type="email" id="email" ng-model="newUser.email" required>
							<label>E-mail</label>
						</div>
						<span class="label col s6">Birthdate</span>
						<span class="label col s6">Gender</span>
						<div class="input-field col s6" ng-click="convertDate()">
							<i class="material-icons prefix grey-text">date_range</i>
							<input class="validate" type="text" id="birth" ng-model="newUser.birthdate" placeholder="mm/dd/yyyy" required>
						</div>
						<div class="input-field col s6">
							<div class="switch">
								<label>
								 Female
								  <input type="checkbox" ng-model="newUser.sex">
								  <span class="lever"></span>
								  Male
								</label>
							</div>
						</div>
						<div class="input-field col s12">
							<i class="material-icons prefix grey-text">lock</i>
							<input class="validate" type="password" id="password" ng-model="newUser.password" required>
							<label>Password</label>
						</div>
						<div class="input-field col s12">
							<textarea class="materialize-textarea" ng-model="newUser.reason" name="why" required></textarea>
							<label for="why">Why would you like to use our services?</label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn red lighten-2 white-text waves-effect left modal-action modal-close modal-trigger" data-target="loginModal"><i class="material-icons left">arrow_left</i>Login</button>
		<button class="btn teal white-text waves-effect right modal-action modal-close" ng-click="signin()">Sign In</button>
	</div>
</div>

<!--Init-->
<script>
	$(document).ready(function(){
		  $(".button-collapse").sideNav({
			menuWidth: 300, // Default is 300
			edge: 'left', // Choose the horizontal origin
			closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
			draggable: true // Choose whether you can drag to open on touch screens
		});
		  $('.modal').modal();
		  $('.datepicker').pickadate({
			selectMonths: true, // Creates a dropdown to control month
			selectYears: 99, // Creates a dropdown of 1 year to control year
		   });
		   $('.dropdown-button').dropdown({
		      hover: true, // Activate on hover
		    }
		  );
	  });
	  $(document).on('scroll', function (e) {updateColor(); });

		  function updateColor() {
			  console.log('updateColor');
			  var s= $(document).scrollTop();
			  var o = $(document).scrollTop() / 200;
			  var inverted = 1 - (($(document).scrollTop() - 4500)/300);
			  if(s < 150) {o =0;}
			  if(s > 200 && s < 4500) {o = 1; }
			  if(s > 4499) {o = inverted;}
			  var e = $('.landingnav-fixed');
			  e.attr('style','opacity:'+o+';');
		  }

 	  updateColor();
</script>
