<!--Landing Template-->

<!--Navbar-->
<div class="row">
	<nav class="white">
		<div class="row">
			<a href="#" class="brand-logo teal-text text-lighten-3 center">WithWeCare LOGO</a>
		</div>
		<div class="nav-wrapper" style="text-align:center;">
			<ul class="menu">
				<li><a ng-click="goTo('landing.main')">HOME</a></li>
				<li><a ng-click="goTo('landing.about')">ABOUT US</a></li>
				<li><a ng-click="goTo('landing.whatwedo')">WHAT WE DO</a></li>
				<li><a ng-click="goTo('landing.clinics')">CLINICS</a></li>
				<li><a href="#/landing/">CONTACT US</a></li>
				<li><a href="#/landing/">FORUM</a></li>
				<li><a href="#/landing/">LOGIN</a></li>
			</ul>
		</div>
	</nav>
</div>

<!--Views-->
<div class="row">
	<div class="ui-view-container">
		<ui-view></ui-view>
	</div>
</div>
