<!--Main Landing Template-->
<div class="row parallax-container height-4 teal-screen valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h2 class="white-text weight-7 valign">"We stay with you, <br>always."</h2>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="img/healthcom.jpg" alt="Welcome to With We Care">
    </div>
</div>
<div class="row commercial">
    <div class="container">
        <div class="row">
            <div class="col s4">
                <div class="teal lighten-3 rounded center valign-wrapper">
                    <i class="large material-icons white-text valign" style="width:100%">grade</i>
                </div>
            </div>
            <div class="col s4">
                <div class="teal lighten-3 rounded center valign-wrapper">
                    <i class="large material-icons white-text valign" style="width:100%">pin_drop</i>
                </div>
            </div>
            <div class="col s4">
                <div class="teal lighten-3 rounded center valign-wrapper">
                    <i class="large material-icons white-text valign" style="width:100%">supervisor_account</i>
                </div>
            </div>
        </div>
        <div class="row description">
            <div class="col s4">
                <p class="teal-text">We select for you the best doctors and clinics of the medical reality in order to give patients the most qualified experience
            </div>
            <div class="col s4">
                <p class="teal-text">We’re based out of Paris but we strive to serve patients from all across the globe at the best price possible</p>
            </div>
            <div class="col s4">
                <p class="teal-text">We are a multilingual team, which help you in communicating with patients and medical experts all over the world.</p>
            </p>
            </div>
        </div>
    </div>
</div>
<div class="row parallax-container height-7 valign-wrapper">
    <div class="col s7 teal-screen">
        <div class="container height-7">
            <div class="row" style="margin-top:80%">
                <h1 class="white-text weight-7 valign">"We care about you, <br>really."</h1>
            </div>
        </div>
    </div>
    <div class="col s5"></div>
    <div class="parallax">
        <img src="img/hearth.jpg" alt="Welcome to With We Care" style="margin-top:25%">
    </div>
</div>
<div class="row commercial">
    <div class="container">
        <div class="row">
            <div class="col s4 square">
                <div class="dental blockImage">
                    <div class="hoverText">
                        <div class="row center">
                            <h4 class="teal-text text-lighten-2 weight-7">Dentistry</h4>
                        </div>
                        <div class="row center">
                            <div class="col s4 offset-s4"><hr class="divider"></div>
                            <div class="col s12">
                                <i class="large material-icons teal-text text-lighten-2">airline_seat_flat_angled</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4 square">
                <div class="cardio blockImage">
                    <div class="hoverText">
                        <div class="row center">
                            <h4 class="teal-text text-lighten-2 weight-7">Cardiology</h4>
                        </div>
                        <div class="row center">
                            <div class="col s4 offset-s4"><hr class="divider"></div>
                            <div class="col s12">
                                <i class="large material-icons teal-text text-lighten-2">favorite</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4 square">
                <div class="plastic blockImage">
                    <div class="hoverText">
                        <div class="row center">
                            <h4 class="teal-text text-lighten-2 weight-7">Plastic Surgery</h4>
                        </div>
                        <div class="row center">
                            <div class="col s4 offset-s4"><hr class="divider"></div>
                            <div class="col s12">
                                <i class="large material-icons teal-text text-lighten-2">tag_faces</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 square">
                <div class="radio blockImage">
                    <div class="hoverText">
                        <div class="row center">
                            <h4 class="teal-text text-lighten-2 weight-7">Radiology</h4>
                        </div>
                        <div class="row center">
                            <div class="col s4 offset-s4"><hr class="divider"></div>
                            <div class="col s12">
                                <i class="large material-icons teal-text text-lighten-2">filter_list</i>
                            </div>
                        </div>
                    </div></div>
            </div>
            <div class="col s4 square">
                <div class="ortho blockImage">
                    <div class="hoverText">
                        <div class="row center">
                            <h4 class="teal-text text-lighten-2 weight-7">Orthopedia</h4>
                        </div>
                        <div class="row center">
                            <div class="col s4 offset-s4"><hr class="divider"></div>
                            <div class="col s12">
                                <i class="large material-icons teal-text text-lighten-2">pets</i>
                            </div>
                        </div>
                    </div></div>
            </div>
            <div class="col s4 square">
                <div class="pedia blockImage">
                    <div class="hoverText">
                        <div class="row center">
                            <h4 class="teal-text text-lighten-2 weight-7">Pediatry</h4>
                        </div>
                        <div class="row center">
                            <div class="col s4 offset-s4"><hr class="divider"></div>
                            <div class="col s12">
                                <i class="large material-icons teal-text text-lighten-2">child_care</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center">
            <h1 class="red-text text-lighten-3 weight-7">Find out the best for you</h1>
            <hr class="divider">
            <form name="landingForm" novalidate>
                <div class="input-field col s4">
                    <select class="teal-text">
                        <option value="" disabled selected>service</option>
                        <option value="dental">Dentistry</option>
                        <option value="cardio">Cardiology</option>
                        <option value="plastic">Plastic Surgery</option>
                        <option value="radio">Radiology</option>
                        <option value="ortho">Orthopedia</option>
                        <option value="pedia">Pediatry</option>
                    </select>
                </div>
                <div class="input-field col s4">
                    <select class="teal-text">
                        <option value="" disabled selected>country</option>
                        <option value="dental">France</option>
                        <option value="cardio">Germany</option>
                        <option value="plastic">Spain</option>
                        <option value="radio">Hungary</option>
                        <option value="ortho">Turkey</option>
                        <option value="pedia">Romania</option>
                    </select>
                </div>
                <div class="input-field col s3">
                    <select class="teal-text">
                        <option value="" disabled selected>currency</option>
                        <option value="dental">Euro (EUR)</option>
                        <option value="cardio">Pound (GBP)</option>
                        <option value="plastic">Franc Suisse (CHF)</option>
                        <option value="radio">Swedish Crown (SEK)</option>
                    </select>
                </div>
                <div class="input-field col s1">
                    <a href="#" class="tooltipped" data-tooltip="Take a look"><i class="medium material-icons teal-text text-lighten-2" >search</i></a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row parallax-container height-5 valign-wrapper ">

        <div class="col s6 teal-screen">
            <div class="container height-5">
                <div style="margin-top:55%;">
                    <h2 class="white-text text-lighten-2 weight-7 valign">"WithWeCare is there for you!"</h2>
                    <button class="btn-large teal white-text waves-effect waves-light right">Get a quote</button>
                </div>
            </div>
        </div>
        <div class="col s6">
        </div>

    <div class="parallax">
        <img src="img/appointment.jpg" alt="We are there for you">
    </div>
</div>

<div class="row commercial">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2 center">
                <h1 class="red-text text-lighten-3 weight-7">“Our team accompanies you during the entire medical process”</h1>
            </div>
        </div>

        <div class="process">
            <div class="row teal-text text-lighten-3">
                <div class="col s2 offset-s5 center">
                    <i class="large material-icons">my_location</i>
                </div>
                <div class="col s5 center">
                    <h5 class="weight-7">You Can’t Go Wrong When You Choose With Us</h5>
                    <p>Choose from our highly qualified international doctors and various destinations to find your own perfect fit</p>
                </div>
            </div>
            <div class="row teal-text text-lighten-3">
                <div class="col s5 center">
                    <h5 class="weight-7">Discover While You Recover</h5>
                    <p>Spend the few recovery days post surgery discovering the city and its culture</p>
                </div>
                <div class="col s2 center">
                    <i class="large material-icons">info</i>
                </div>
            </div>
            <div class="row teal-text text-lighten-3">
                <div class="col s2 offset-s5 center">
                    <i class="large material-icons">local_hospital</i>
                </div>
                <div class="col s5 center ">
                    <h5 class="weigth-7">Unprecedented Digital Accompaniment</h5>
                    <p>
    Access your entire medical record online and stay e-accompanied by our team and doctors through our app even after returning home</p>
                </div>
            </div>
        </div>

        <div class="row center">
            <div class="col s8 offset-s2">
                <h1 class="red-text text-lighten-3 weight-7">“Personalize your experience! Decide on every aspect of your medical travel at the best price ”</h1>
            </div>
        </div>
    </div>
</div>

<div class="row parallax-container height-4 valign-wrapper">
    <div class="col s6 teal-screen">
        <div class="container height-4">
            <div class="row valign" style="margin-top:20%">
                <h3 class="white-text weight-7">#Accompaniment</h3>
                <h3 class="white-text weight-7">#Adaptability</h3>
                <h3 class="white-text weight-7">#Quality</h3>
                <h3 class="white-text weight-7">#Transparency</h3>
            </div>
        </div>
    </div>
    <div class="col s6">
    </div>
    <div class="parallax">
        <img src="img/referrals.jpg" alt="#WithWeCare">
    </div>
</div>

<div class="row height-3">
    <div class="container">
        <hr class="divider" style="margin-top:5%;margin-bottom:5%">
        <button class="btn btn-bordered waves-effect red-text text-lighten-3 col s6 offset-s3 weight-7">Contact With We Care Team</button>
    </div>
</div>

<ng-include src="'templates/snippets/footer.html'"></ng-include>

<script type="text/javascript" src="js/init.js"></script>
